@charset "UTF-8";

html {
    box-sizing: border-box;
}

*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.top-nav{
    background-color: #2f3d44;
}

.top-a:hover{
color:white;
}

.top-nav li{
   display: flex;
   align-items: center;
}

#green{
   color:rgb(5, 172, 5);
}

.background{
    background: rgba(0, 0, 0, 0.5) url("../img/ba1.jpg") no-repeat center center;
    height: 93vh;
    background-size: cover;
    background-blend-mode: darken;
    display:grid;
    grid-template-columns: 55% 35% 10%;
    align-items: center;
}

.background h1, p{
	color: #fff;
	position: relative;
    margin:auto;
} 

.background button{
    position: relative;
    float: right;
    margin-top: 2rem;
    margin-left:1rem;
}

.green-button{
    background-color:rgb(81, 197, 46);
    color: white;
    border: none;
}


.green-button:hover{
    background-color:rgb(74, 175, 44);
    color: white;
}

.intro{
    grid-column: 2/3;
    margin: auto;
}

.text{
    text-align: end;
    font-size: 130%;
}

@media (max-width: 650px){
    .text{
        font-size: 95%;
    }
    .foot-nav{
        height: 4rem;
        font-size: 80%;
    }
}

@media (max-width:768px){
    .top-nav a{
        font-size: 70%;
    }
}

@media (max-width: 930px) {
.top-nav a{
    font-size: 120%;
    text-align: left;
}

.li-item{
    width: 200%;
    position:relative;
}
}

.orator-text{
text-align: center;
}

.speaker-text{
    color:black;
}

.bold{
font-weight: bold;
}

.card-text{
    color: white;
    font-size: 113%;
    text-align: left;
    line-height: 30px;
    margin-bottom: 1rem;
}

.grey-background{
    background-color: #304047;
}

.place{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1px;
    padding-top:2rem;
    height:35rem;
    margin-bottom: 2rem;
}

.place-content{
    background-color: #37474f;
    padding:1rem;
}

#form{
    margin-top: 6rem;
    margin-bottom: 3rem;
}

.form{
margin-top: 1rem;
}

.foot-nav{
    background-color:rgb(35, 70, 94) ;
    min-height: 6rem;
}

footer ul{
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
margin: 0;
}

footer li{
    width: 8rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.foot-nav a{
    height: 6rem;
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
}

.foot-nav a:hover{
    background-color:rgb(30, 59, 78) ;
}
